@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(#e7cb9c, #e3b4b4);
  background-size: cover;
  background-attachment: fixed;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.container,
.result {
  width: 80%;
  height: 100%;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left,
.right {
  width: 100%;
}
img,
.type-country {
  max-width: 90%;
  width: 500px;
}
img {
  aspect-ratio: 16 / 9;
}
@media (max-width: 769px) {
  .result {
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }
}
@media (min-width: 769px) {
  .result {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .left {
    margin-right: 10%;
  }
}
@media (min-width: 900px) {
  .result {
    width: 80%;
  }
}
@media (orientation: landscape) {
  #root {
    margin-bottom: 250px;
  }
}
